## Misc
**/comment.cut
htmlcov
.coverage

## Bazel
# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.
**/bazel-*
!latex/bazel-latex

# User-specific .bazelrc
user.bazelrc

## VS Code
**/.vscode/**

## Vim
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim

# Temporary
.netrwhist
*~

# Persistent undo
[._]*.un~

## Emacs
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
.\#*

## Editor Tools
.ccls-cache/
compile_commands.json

## Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

## C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac
.DS_Store
